@media screen and (min-width: 480px) {


  /***************************************
  TWO COLUMN LAYOUT
  ***************************************/

  @media screen and (min-width: 600px) {


  /***************************************
  Page: gallery
  ***************************************/




  /***************************************
  Page: About
  ***************************************/




@media screen and (min-width: 660px) {

  /***************************************
  Page: Header
  ***************************************/
